:root {
  --text-color-main: white;
  --text-color-subtle: #ffffff8c;
  --text-color-body: #ffffffc9;
  --conditions-background: #da934e;
  --conditions-highlight: #0000003d;
  --noaa-background: #0c5685;
}

.pulldown {
  background-color: var(--conditions-background);
}

.snow-summary-container {
  display: grid;
  min-height: 100vh;
}
.snow-summary-container h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  line-height: 0.6em;
  font-weight: bold;
  text-align: center;
  padding-top: 0.4em;
}
.snow-summary-container h1 small {
  font-size: 0.8rem;
  font-weight: normal;
  white-space: nowrap;
  display: block;
}
.snow-summary-container h2 {
  font-size: 1.6rem;
  margin-bottom: 0.4rem;
}
.snow-summary-conditions,
.snow-summary-noaa {
  color: white;
  display: grid;
  grid-template-columns: minmax(200px, 720px);
  justify-content: center;
  padding: 1rem;
}

/* Conditions */
.snow-summary-conditions {
  background-color: var(--conditions-background);
}

.snow-summary-conditions h1 {
  align-self: center;
}

.snow-summary-conditions h1.active {
  background-color: var(--conditions-highlight);
}

.conditions-headers {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(14em, 1fr));

  justify-content: center;
}

.conditions-headers .subtitle {
  display: block;
  color: var(--text-color-subtle);
  margin-bottom: 0.5em;
}

.conditions-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto 1fr;
  grid-row-gap: 1rem;
  grid-column-gap: 4rem;
  grid-auto-flow: column;
  justify-content: space-between;
  justify-items: start;
  align-items: start;
  grid-template-areas:
    'conditions lifts'
    'snowfall lifts';
}

.conditions-container .conditions .updated {
  display: block;
  font-size: 0.5em;
  color: var(--text-color-subtle);
  margin-bottom: 0.5em;
}

@media screen and (max-width: 450px) {
  .conditions-container {
    grid-template-columns: 100%;
    grid-template-areas:
      'conditions'
      'snowfall'
      'lifts';
  }
}

/* Conditions */

.conditions {
  grid-area: conditions;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  justify-content: start;
  align-content: start;
  grid-template-areas:
    'title title'
    'temp      icon'
    'condition icon';
}

.conditions h2 {
  grid-area: title;
}

.condition-temp {
  font-size: 5rem;
  grid-area: temp;
}

.condition-temp:after {
  content: '\00b0';
  font-size: 3rem;
  top: -1.5rem;
  position: relative;
}

.condition-status {
  grid-area: condition;
  color: var(--text-color-subtle);
}

.conditions i {
  font-size: 4.5rem;
  align-self: center;
  grid-area: icon;
}

/* Snowfall */
.snowfall {
  grid-area: snowfall;
  /* margin-bottom: 1rem; */
}

.snowfalls {
  line-height: 1.3em;
  display: grid;
  grid-template-columns: auto 2fr;
  column-gap: 0.3em;
  row-gap: 0.1em;
  /* grid-template-rows: auto auto; */
  justify-content: start;
  align-content: start;
}

.snowfalls li {
  display: contents;
}

.snowfall-since {
  color: var(--text-color-subtle);
}

.snowfall-depth {
  justify-self: end;
  display: inline-block;
}

/* Lifts */

.lifts {
  grid-area: lifts;
  min-width: 10rem;
}

.lifts .updated {
  display: block;
  font-size: 0.5em;
  color: var(--text-color-subtle);
  margin-bottom: 0.5em;
}

.lift-statuses li {
  margin-bottom: 0.5rem;
}

.lift-substatus {
  display: block;
}

.lift-status {
  display: inline-block;
  color: var(--text-color-subtle);
}

.lift-name {
  margin-right: 0.5rem;
  display: block;
  color: #6b4723;
}

.lift-name.open {
  margin-right: 0.5rem;
  display: block;
  color: #00ff00;
}

.lift-hours {
  display: inline-block;
  color: var(--text-color-subtle);
}

.lift-status {
  margin-right: 0.5rem;
}

/* NOAA */
.snow-summary-noaa {
  padding: 1rem;
  background-color: var(--noaa-background);
  color: white;
}

.forecasts li {
  display: grid;
  grid-template-columns: 5rem 1fr;
  grid-column-gap: 0.5rem;
  padding-bottom: 1rem;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid var(--text-color-subtle);
  grid-template-rows: auto auto;
  grid-template-areas: 'summary forecast';
}

.forecast-summary {
  grid-area: summary;
}

.forecast-name {
  /* grid-area: day-name; */
  display: block;
}
.forecast-date {
  font-size: 0.8rem;
  display: block;
  /* grid-area: day-temp; */
  color: var(--text-color-subtle);
}

.forecast-temp {
  font-size: 0.8rem;
  display: block;
  /* grid-area: day-temp; */
  color: var(--text-color-subtle);
}

.forecast-temp {
  content: ' Low';
  color: var(--text-color-subtle);
  /* color: blue; */
}
.forecast-temp.day {
  content: ' High';
  /* color: red; */
}
.forecast-temp:after {
  content: ' (Low)';
}
.forecast-temp.day:after {
  content: ' (High)';
}

.forecast-wind {
  display: block;
  font-size: 0.8rem;
  /* grid-area: day-wind; */
  color: var(--text-color-subtle);
}

.forecast-icon {
  display: block;
  /* grid-area: icon; */
}

.forecast-detail {
  grid-area: forecast;
  line-height: 1.4em;
  padding-left: 0.5rem;
  color: var(--text-color-body);
  align-self: end;
}
